<div class="nav nav-admin">
  <span class="nav-admin title">TestGuruAdmin Panel</span>
  <div class="nav-admin user">
    <%= t('.hello', user: current_user.email) %> |
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</div>
