<h1>The <%= @test_passage.test.title %> Test Was  Completed</h1>

<h2 class="<%= @test_passage.result_style %>" >
  Your result: <%= @test_passage.result_to_percent %>%
</h2>

<%= link_to 'To main', tests_path%>
