<br><br>
<footer>
  <div class="">
    <%= current_year %>
  </div>
  <div>
    Автор: Сергей Савченко
  </div>
  <div class="">
    <%= github_url 'savchenkoDev', 'TestGuru' %>
  </div>
  <div class="">
    <%= link_to 'Учебный проект в онлайн-школе Thinknetica', 'http://thinknetica.com', target: "_blank" %>
  </div>
</footer>
