<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Author</title>
</head>
<body>
  <p><a href="/about">Назад</a></p>
  <h1>Sergey Savchenko</h1>
  <p>Это моё первое приложениеRuby on Rails, и вот вам мой
    <a href="https://github.com/savchenkoDev" target="_blank">Github</a>
  </p>

</body>
</html>
