.flash {
  border: 2px solid;
  padding: 10px;
  border-radius: 5px;
}

.alert {
  border-color: rgb(255, 0, 0);
  background-color: rgba(255, 0, 0, 0.2);
  color: #ef2727;
}

.notice {
  border-color: rgb(0, 255, 0);
  background-color: rgba(0, 255, 0, 0.2);
  color: #ef2727;
}
