<h1>All tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Level</th>
    <th>Questions</th>
    <th colspan="3">Actions</th>
  </tr>

  <%= render @tests %>

  <%= link_to 'Back', tests_path%>

</table>
